@charset "ISO-8859-1";

.contenido{
	display:flex;
	padding: 50px;
}
.contenidoImagen{
	margin-right:100px;
}
#imatge{
	border-color:blue;
	border-style: inset;
}
label{
	color:black;
	font-weight: bold;
}
body{
	margin: 0;
	background-color: white;
}
h1{
	color: white;
	font-weight: bold;
}
.logo , .temps{
	position: absolute;
	color:white;
	right:0;
	top:0;
	border:1px solid black;
	
}
.temps{
	padding: 20px;
	font-family: impact;
	border: 1px solid black;
	background: linear-gradient(135deg,#000000,#0087ff,#000000);
	text-align: center;
	border-radius: 10px;
}
