@charset "ISO-8859-1";

.contenido{
	display:flex;
	padding: 50px;
}
.contenidoImagen{
	margin-right:100px;
}
#imatge{
	border-color:blue;
	border-style: inset;
}
label{
	color:black;
	font-weight: bold;
}
body{
	margin: 0;
	background-color: white;
}
.encabezado{
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #0f0f0fa3;
	border: 2px solid #000000;
	height: 100px;
}

.logo , .temps{
	position: absolute;
	color:white;
	right:0;
	top:0;
	border:1px solid black;
	
}
.temps{
	padding: 20px;
	font-family: impact;
	border: 1px solid black;
	background: linear-gradient(135deg,#FFFFFF,#0087ff,#FFFFFF);
	text-align: center;
	border-radius: 10px;
}
